.mainContainer {
  height: 100vh;
  min-width: 320px;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  padding: 2.5rem 0;
}

.cardContainer {
  padding: 0 1rem;

  width: 90%;
  max-width: 1000px;
}

.cardTitleContaier {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  img {
    width: 50px;
  }

  h1 {
    font: 500 1rem Poppins, sans-serif;
    white-space: normal;
  }
}
